<h1>Please complete form below.</h1>

<div>
  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label'} %>
    <%= f.input :last_name, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label'} %>
    <%= f.input :email, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label'} %>
    <%= f.input :password, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label'} %>
        <br>
        <br>
        <%= f.button :submit, class: "button is-primary" %>
    <% end %>
  </div>

