<section class="hero is-success is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
      <p class="title">
        Doctors
      </p>
      <br>
      <br>
      <div class="content"
        <div class="container has-text-centered">
          <h4>
              <% @doctors.each do |d| %>
                <ul>Dr. <%= d.first_name %> <%= d.last_name %> - <%= d.specialty %>
                <br>
                <br>
                <button class="button is-light">
                  <%= link_to "Leave a review for this doctor", new_doctor_review_path(d.id)%>
                </button>
                <button class="button is-light">
                  <%= link_to "Read Reviews", doctor_reviews_path(d.id)%></ul>
                </button>
              <% end %>
          </h4>
        </div>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
            <%= link_to "New Appointment", new_appointment_path %>
            <%= link_to "Appointments", appointments_path %>
            <%= link_to "Logout", logout_path %>
        </ul>
      </div>
    </nav>
  </div>
</section>
