<h1>My Appointments </h1>

<div class="container has-text-centered">
  <h4>
    <% @appointments.each do |a| %>
      <%= link_to a.date, appointment_path(a.id) %>
    <% end %>
  </h4>
    <br>
    <br>
</div>

  <!-- Footer-->
<div>
  <%= link_to "Log Out", logout_path, method: :delete %>
  <%= link_to "New Appointment", new_appointment_path %>
  <%= link_to "My Appointments", appointments_path %>
  <%= link_to "Doctors", doctors_path %>
</div>
