
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
        <p class="title">
            Leave <strong> Dr. <%= @review.doctor.last_name %> </strong>a review below.
        </p>

        (0-5 rating)
        <%= simple_form_for @review do |f| %>
            <div class="field">
                <div class="control">
                    <%= f.number_field :rating, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label'}, min:0, max:5 %>
                </div>
            </div>
        <%= f.hidden_field :doctor_id %>

        <br>
        <br>
        <%= f.button :submit, class: "button is-primary" %>
    <% end %>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
        </ul>
      </div>
    </nav>
  </div>
</section>


<%= form_for(@review) do |f|%>
    <div>
        <%= f.label :rating %>
        <%= f.text_field :rating %>
    </div>
    <%= f.hidden_field :doctor_id %>
  
  
    <%= f.submit %>
  <% end %>